@page
@model Individual_Sem2_Web.Pages.StationsModel
@{
	ViewData["Title"] = "Stations";
	Layout = "_LayoutMain";
}
<div class="container-fluid bg-dark text-light">
    <div class="row">
        @foreach (Station station in Model.stations)
        {
            <div class="col-md-6 col-lg-4">
                <div class="card mb-3 bg-secondary text-light">
                    <div class="card-body">
                        <h5 class="card-title">@station.Name</h5>
                        <h6 class="card-subtitle mb-2">@station.Model</h6>
                        <p class="card-text">@station.ResearchType</p>
                    </div>
                    <ul class="list-group list-group-flush bg-dark">
                        <li class="list-group-item bg-dark text-light">Size (m): @station.Size</li>
                        <li class="list-group-item bg-dark text-light">Mass (kg): @station.Mass</li>
                        <li class="list-group-item bg-dark text-light">Position (x, y, z): @station.Position.X, @station.Position.Y, @station.Position.Z</li>
                        <li class="list-group-item bg-dark text-light">Velocity (x, y, z): @station.Velocity.X, @station.Velocity.Y, @station.Velocity.Z</li>
                        <li class="list-group-item bg-dark text-light"><a href="./DetailsStation?name=@station.Name" target="_blank" class="text-light">Details</a></li>
                    </ul>
                    <div class="card-footer text-muted bg-dark">
                        Telemetry Data:
                        @if (station.TelemetryData.HasValue())
                        {
                            <p class="mb-0">Temperature: @station.TelemetryData.Temperature</p>
                            <p class="mb-0">Battery Level: @station.TelemetryData.BatteryLevel</p>
                            <p class="mb-0">Hull Integrity: @station.TelemetryData.HullIntegrity</p>
                            <p class="mb-0">Board Computer Health: @station.TelemetryData.BoardComputerHealth</p>
                        }
                        else
                        {
                            <p class="mb-0">No telemetry data available.</p>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<style>
    .card:hover {
        transform: translateY(-5px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
</style>
