@page 
@model Individual_Sem2_Web.Pages.DetailsSattelliteModel
@{
    ViewData["Title"] = "Details";
    Layout = "_LayoutMain";
}

<div class="container-fluid bg-dark text-light">
    <h1>Details for @Model.SelectedSatellite.Name</h1>

    <dl class="row">
        <dt class="col-sm-3">Model:</dt>
        <dd class="col-sm-9">@Model.SelectedSatellite.Model</dd>

        <dt class="col-sm-3">Objective:</dt>
        <dd class="col-sm-9">@Model.SelectedSatellite.Objective</dd>

        <dt class="col-sm-3">Manufacturer:</dt>
        <dd class="col-sm-9">@Model.SelectedSatellite.Manufacturer</dd>

        <dt class="col-sm-3">Launch Date:</dt>
        <dd class="col-sm-9">@Model.SelectedSatellite.LaunchData.LaunchDate.ToString()</dd>

        <dt class="col-sm-3">Launch Site:</dt>
        <dd class="col-sm-9">@Model.SelectedSatellite.LaunchData.LaunchLocation</dd>
    </dl>

    <hr>

    <h2>Orbital Data</h2>

    <dl class="row">
        <dt class="col-sm-3">Orbit Type:</dt>
        <dd class="col-sm-9">@Model.SelectedSatellite.OrbitalData.OrbitType</dd>

        <dt class="col-sm-3">Inclination:</dt>
        <dd class="col-sm-9">@Model.SelectedSatellite.OrbitalData.Inclination</dd>

        <dt class="col-sm-3">Longitude of Ascending Node:</dt>
        <dd class="col-sm-9">@Model.SelectedSatellite.OrbitalData.LongitudeOfAscendingNode</dd>

        <dt class="col-sm-3">True Anomaly:</dt>
        <dd class="col-sm-9">@Model.SelectedSatellite.OrbitalData.TrueAnomaly</dd>

        <dt class="col-sm-3">Semi Major Axis:</dt>
        <dd class="col-sm-9">@Model.SelectedSatellite.OrbitalData.SemiMajorAxis</dd>
    </dl>

    <hr>

    <h2>Telemetry Data</h2>

    <dl class="row">
        <dt class="col-sm-3">Battery Level:</dt>
        <dd class="col-sm-9">@Model.SelectedSatellite.TelemetryData.BatteryLevel</dd>

        <dt class="col-sm-3">Temperature:</dt>
        <dd class="col-sm-9">@Model.SelectedSatellite.TelemetryData.Temperature</dd>

        <dt class="col-sm-3">Hull Integrity:</dt>
        <dd class="col-sm-9">@Model.SelectedSatellite.TelemetryData.HullIntegrity</dd>

        <dt class="col-sm-3">Board Computer Health:</dt>
        <dd class="col-sm-9">@Model.SelectedSatellite.TelemetryData.BoardComputerHealth</dd>
    </dl>

    @if (Model.Collisions.Any())
    {
        <hr>

        <h2 class="text-danger">Possible Collisions:</h2>

        <ul>
            @foreach ((SpaceObject, SpaceObject) collision in Model.Collisions)
            {
                <li>@collision.Item1.Name and @collision.Item2.Name</li>
            }
        </ul>
    }
    else
    {
        <hr>

        <h2>Collisions: </h2>

        <p>No possible collisions detected</p>
    }

</div>