@page
@model Individual_Sem2_Web.Pages.UsersModel
@{
    ViewData["Title"] = "All Users";
    Layout = "_LayoutMain";
}

<div class="container">
    <div class="row mt-4">
        @foreach (var user in Model.Users)
        {
            <div class="col-md-4 bg-black">
                <div class="card mb-4 bg-dark text-white">
                    @if (user is Guest)
                    {
                        <img src="@(((Guest)user).ProfilePictureURL)" alt="Profile Picture" class="nav-link rounded-circle" style="width: 90px; height: 70px;">
                    }
                    else
                    {
                        <img src="~/images/default_profile_picture.jpg" alt="Default Profile Picture" class="nav-link rounded-circle" style="width: 70px; height: 70px; margin-right: 10px;">
                    }
                    <div class="card-body">
                        <h5 class="card-title">@(user.FirstName + " " + user.LastName)</h5>
                        <p class="card-text">Email: @user.Email</p>
                        <p class="card-text">Birthdate: @user.Birthdate</p>
                        <p class="card-text">Role: @user.GetType().Name</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


